//Font Import
@font-face {
    font-family: 'FeniceRegular';
    src: url('../fonts/FeniceStd-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/FeniceStd-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/FeniceStd-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/FeniceStd-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/FeniceStd-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/FeniceStd-Regular.svg#FeniceStd') format('svg'); /* Legacy iOS */
}

//Variables & Mixins
@import './shared/_variablesAndMixins.scss';

//Z-Index
// artwork/print image : 500
// logoType, aboutLink: 1000
// whiteOverlay : 1500





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 10px;
    cursor:  url(../imgs/moveMe.png), auto;

    a{
        text-decoration: none;
    }
}


//Home
header{

    .logoType{
        //text
        font-family: $feniceStack;
        font-size: $font30;
        line-height: 30px;
        color: $nathanBlack;
        //position
        position: fixed;
        left: $width60px;
        top: $height45px;
        z-index: 1000;
    }

    .aboutLink{
        //text
        @include homeLinks;
        text-align: right;
        //position
        position: fixed;
        right: $width60px;
        top: $height45px;
        transform: translateY( 5px ); //difference between fonts divided by 2: (30 - 20) / 2 
        z-index: 1000;
    }

}

@import './home/_home.scss';

.whiteOverlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $nathanWhite;
    z-index: 1500;
    display: none;
    opacity: 0;
}

.projectContainer {
    background: $nathanWhite;
    position: sticky;
    top: 0;
    width: 100vw;
    height: 120vh;
    &:last-of-type{
        height: 100vh;
    }

    img{
        position: absolute;
        left: 50vw;
        top: 50vh;
        transform: translate(-50%, -50%);
        z-index: 500;
    }

    .prevPointerContainer{
        position: absolute;
        width: 50vw;
        height: 100vh;
        top: 0;
        bottom: 0;
        left: 0;
        .prevCursor{
            //text
            font-family: $feniceStack;
            font-size: $font20;
            color: $nathanBlack;
            line-height: 20px;
            //position
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-50%, -50%);
            //cursor
            cursor: default;
            user-select: none;
            //display
            display: none;
            
        }
    }

    .nextPointerContainer{
        position: absolute;
        width: 50vw;
        height: 100vh;
        top: 0;
        bottom: 0;
        right: 0;
        .nextCursor{
            //text
            font-family: $feniceStack;
            font-size: $font20;
            color: $nathanBlack;
            line-height: 20px;
            //position
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-50%, -50%);
            //cursor
            cursor: default;
            user-select: none;
            //display
            display: none;
            
        }
    }

    .projectTitle{
        user-select: none;
    }

    .horizontal{
        width: 48.4375vw;
    }

    .vertical{
        width: 25vw;
    }

    h2{
        //text
        font-family: $feniceStack;
        font-size: $font20;
        color: $nathanBlack;
        line-height: 20px;
        //position
        position: absolute;
        bottom: calc(50px + 20vh);
        left: $width60px;
    }
}

.odd{
    background: $nathanWhite;
}

.even{
    background: $nathanWhite;
}